.settings {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff66;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding: auto;
        animation-duration: 0.3s;
        animation-name: Background;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
}





.settings-content {
        margin-left: auto;
        margin-right: auto;
        max-height: calc(100vh - 128px);
        overflow: auto;
        
}

.settings-Title {
        color: #ffffff;
        font-weight: 500;
        margin-top: 30px;
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.authon {
        color: #fefefe;
        font-weight: 50;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.settings-Button {
        box-shadow: 0;
        margin-top: 20px;
        transition: all 0.2s ease-in-out;
        width: 30px;
        margin-left: auto;
        margin-right: auto;
}


@keyframes Background {
        from {
                opacity: 0;
                margin-top: 100
        }

        to {
                opacity: 1;
                margin-top: 0
        }
}

.settings-content-title {
        color: #ffffff
}

.settings-content-intro {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        
       
}

.settings-content-intro-min {
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        
}

.settings-content-tag {
        display: flex;
        text-align: left;
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #0099ffaa;
        padding: 0 20px 0 15px;
        width: 600px;
        height: 80px;
        border-radius: 20px;
}