.tab{
        position: absolute;
        top: 0;
        margin: 0;
        left: 0;
        /*去掉边距*/
        width: 100%;
        height: 30px;
        background-color: #000000;

}
.addTest{
        padding: 4px;
        background-color: #0099ff;
        color:#fefefe;
        border: 0;
        border-radius: 6px;
}
.addTest:hover{
        background-color: #22aaff;
}
.addTest:active{
        background-color: #0066ff;
}