.tab-tab {
        position: absolute;
        top: 0;
        margin: 0;
        left: 0;
        /*去掉边距*/
        width: 100%;
        height: 40px;
        background-color: #fefefecc;
        display: flex;
        z-index: 1;

}

.tab-addTest {
        padding: 4px;
        margin: auto;
        margin-left: 0;
        margin-right: 10px;
}

.tab-logo {
        width: 30px;
        height: 30px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2px;
        margin-right: 2px;
}

.tab-span {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2px;
        margin-right: 2px;
        color: #0066ff
}

.tab-Tabinput {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2px;
        margin-right: 2px;
        color: #090909;
        outline: none;
        border: 0;
        height: 25px;
        border-radius: 5px;

}
.tab-tool{
        right: 0px;
        position: absolute;
        height: 100%;
        width: 50px;
}
.tab-settings-button{
        top:30px;
        height: 100%;
        width: 100%;
        border: 0;
        border-radius: 10px;
        min-width: 0;
        min-height: 0;
        background-color: #ffffff00;
        transition: background-color 0.2s ease;
}
.tab-settings-button:hover{
        background-color: #ffffff88;
}
.tab-settings-button:active {
        background-color: #0099ff22;
}